:root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    --breakfast-accent: #ff8c00;
    --lunch-accent: #00fa9a;
    --dinner-accent: skyblue;
}

* {
    text-align: center;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    background-color: black;
}

#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: auto;
}

#bruh {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: auto;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#date {
    color: white;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    flex-direction: row;
}

#date img {
    content: url(images/right-arrow-min.png);
    width: 50%;
    aspect-ratio: 1 / 1;
    filter: invert(1);
}
#previous-day, #next-day {
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#previous-day img {
    transform: rotateY(180deg);
}

#B {background-color: var(--breakfast-accent);}
#L {background-color: var(--lunch-accent);}
#D {background-color: var(--dinner-accent);}

header {
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0.5em;
    height: 2em;
    overflow: hidden;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.25);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    font-weight: 600;
    padding: 0.5em;
}

#relative-date {
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 0;
    background-color: royalblue;
    color: black;
    padding: 0;
}