@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 25px;
    --breakfast-accent: hsl(20, 65%, 50%);
    --lunch-accent: hsl(157, 65%, 50%);
    --snacks-accent: hsl(45, 65%, 50%);
    --dinner-accent: hsl(195, 65%, 50%);
}

* {
    box-sizing: border-box;
}

button {
    font-family: inherit;
    background-color: inherit;
    outline: none;
    border: none;
    color: inherit;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    background-color: #121212;
}

#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: inherit;
    overflow: auto;
}

@media (min-width: 720px) {
    #page {
        flex-direction: row;
    }
}

/* Mess Period */

.mess-period {
    text-align: center;
    font-size: 0.5em;
    padding-top: 0.5em;
    color: grey;
}

/* Day Picker */

.day-picker {
    font-family: 'Courier New', Courier, 'Roboto Mono', monospace;
    position: relative;
    display: flex;
    align-items: center;
    color: whitesmoke;
    background-color: #242424;
}

.day-picker::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff4
}

@media (min-width: 720px) {
    .day-picker {
        height: 100%;
        flex-direction: column;
        font-size: 1.5em;
    }

    .day-picker::after {
        content: unset;
    }
}

.day-choice {
    position: relative;
    width: 100%;
    flex: 1 1 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.35em 0;
    font-weight: 500;
}

.day-choice::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.day-choice.day-choice--selected {
    background-color: #363636;
    font-weight: 800;
}

.day-choice.day-choice--today::after {
    background-color: #727272;
}

.day-choice.day-choice--selected::after {
    background-color: hsl(195, 75%, 50%);
}

@media (min-width: 720px) {
    .day-choice {
        padding: 0 0.5em;
        cursor: pointer;
    }

    .day-choice::after {
        bottom: unset;
        left: unset;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
    }
}

.day-text {
    padding-top: 1px;
    border-radius: 5px;
    height: 1.75em;
    width: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Actual Menu */

#actual-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5em;
    
    background-color: inherit;
    overflow: auto;
}

@media (max-width: 719px) {
    #actual-menu {
        scrollbar-width: none;
    }

    #actual-menu::-webkit-scrollbar {
        display: none;
    }
}

@media (min-width: 720px) {
    #actual-menu {
        --scrollbar-track-color: #242424;
        --scrollbar-thumb-color: #363636;
        width: 100%;
        flex-direction: row;
        align-items: center;
        font-size: 1.25em;
        padding: 0;

        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        scrollbar-width: 8px;
        scrollbar-color: var(--scrollbar-track-color) var(--scrollbar-thumb-color);
    }

    #actual-menu::-webkit-scrollbar {
        height: 8px;
        background-color: var(--scrollbar-track-color);
    }

    #actual-menu::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
    }
}

#B, #B + .share_toolbar {--accent: var(--breakfast-accent); --accent-hue: 20;}
#L, #L + .share_toolbar {--accent: var(--lunch-accent); --accent-hue: 157;}
#S, #S + .share_toolbar {--accent: var(--snacks-accent); --accent-hue: 45;}
#D, #D + .share_toolbar {--accent: var(--dinner-accent); --accent-hue: 195;}

.menu-category {
    color: var(--accent);
    background-color: inherit;
    padding: 1em;
    padding-bottom: 0.5em;
}

@media (min-width: 720px) {
    .menu-category {
        scroll-snap-align: start;
        height: 75%;
        width: 50%;
        flex: 0 0 auto;
    }
}

@media (min-width: 1440px) {
    .menu-category {
        width: calc(100% / 3);
    }
}

.menu-category-inner {
    position: relative;
    background-color: inherit;
    border: 4px solid var(--accent);
    border-radius: 10px;
}

@media (min-width: 720px) {
    .menu-category-inner {
        height: 100%;
    }
}

.menu-category__header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 100%;
    color: var(--accent);
    padding: 0 0.25em;
    background-color: inherit;
}

.menu__items {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.menu__item {
    text-align: center;
    font-weight: 800;
    filter: saturate(0.9);
    padding: 0.333em;
}

.menu__item--everyday {
    opacity: 0.8;
}

/* Share Toolbars */

.share_toolbar {
    width: auto;
    padding: 0.25rem 1rem;
    padding-bottom: 1rem;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: end;
    color: hsl(var(--accent-hue), 25%, 50%);
    color: #888;
}

.share_button {
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1em;
    color: #aaa;
}

.share_button img {
    filter: invert(1);
    opacity: 0.785;
    height: 1em;
    width: auto;
}

/* Footer */

.footer {
    display: none;
}

@media (max-width: 720px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #efefef;
        font-size: 0.75em;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    a {
        color: hsl(180deg, 100%, 50%);
    }
}