@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    font-family: 'Young Serif', serif;
    font-size: 25px;
    --hue-breakfast: 20;
    --hue-lunch: 157;
    --hue-snacks: 45;
    --hue-dinner: 195;
    --breakfast-accent: hsl(20, 65%, 50%);
    --lunch-accent: hsl(157, 65%, 50%);
    --snacks-accent: hsl(45, 65%, 50%);
    --dinner-accent: hsl(195, 65%, 50%);
}

* {
    box-sizing: border-box;
}

button {
    font-family: inherit;
    background-color: inherit;
    outline: none;
    border: none;
    color: inherit;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    background-color: #121212;
}

#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: inherit;
    overflow: auto;
}

@media (min-width: 720px) {
    #page {
        flex-direction: row;
    }
}

/* Day Picker */

.day-picker {
    position: relative;
    display: flex;
    align-items: center;
    color: #e2e2e2;
}

.day-picker::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #363636;
}

@media (min-width: 720px) {
    .day-picker {
        height: 100%;
        flex-direction: column;
        font-size: 1.5em;
    }

    .day-picker::after {
        content: unset;
    }
}

.day-choice {
    position: relative;
    width: 100%;
    flex: 1 1 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.35em 0;
    font-weight: 100;
}

.day-choice::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    z-index: 1;
}

.day-choice.day-choice--selected {
    background-color: #242424;
    font-weight: 800;
}

.day-choice.day-choice--today::after {
    background-color: #727272;
}

.day-choice.day-choice--selected::after {
    background-color: hsl(195, 75%, 50%);
}

@media (min-width: 720px) {
    .day-choice {
        padding: 0 0.5em;
        cursor: pointer;
    }

    .day-choice::after {
        bottom: unset;
        left: unset;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
    }
}

.day-text {
    padding-top: 1px;
    border-radius: 5px;
    height: 1.75em;
    width: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Actual Menu */

#actual-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* padding: 0.5em; */
    
    background-color: inherit;
    overflow: auto;
}

@media (max-width: 719px) {
    #actual-menu {
        scrollbar-width: none;
    }

    #actual-menu::-webkit-scrollbar {
        display: none;
    }
}

@media (min-width: 720px) {
    #actual-menu {
        --scrollbar-track-color: #242424;
        --scrollbar-thumb-color: #363636;
        width: 100%;
        flex-direction: row;
        align-items: center;
        font-size: 1.25em;
        padding: 0;

        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        scrollbar-width: 8px;
        scrollbar-color: var(--scrollbar-track-color) var(--scrollbar-thumb-color);
    }

    #actual-menu::-webkit-scrollbar {
        height: 8px;
        background-color: var(--scrollbar-track-color);
    }

    #actual-menu::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
    }
}

#B, #B + .share_toolbar {
    --accent-hue: var(--hue-breakfast);
    --accent: var(--breakfast-accent);
}
#L, #L + .share_toolbar {
    --accent-hue: var(--hue-lunch);
    --accent: var(--lunch-accent);
}
#S, #S + .share_toolbar {
    --accent-hue: var(--hue-snacks);
    --accent: var(--snacks-accent);
}
#D, #D + .share_toolbar {
    --accent-hue: var(--hue-dinner);
    --accent: var(--dinner-accent);
}

.menu-category {
    font-size: 1.2em;
    color: var(--accent);
    background-color: inherit;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

@media (min-width: 720px) {
    .menu-category {
        scroll-snap-align: start;
        height: 75%;
        width: 50%;
        flex: 0 0 auto;
    }
}

@media (min-width: 1440px) {
    .menu-category {
        width: calc(100% / 3);
    }
}

.menu-category-inner {
    position: relative;
    background-color: inherit;
    border: 1px solid var(--accent);
    border-radius: 0.5em;
    margin: 0 0.5rem;
}

.menu-category-inner > * {
    padding: 0.5rem;
}

@media (min-width: 720px) {
    .menu-category-inner {
        height: 100%;
    }
}

.menu-category__header {
    text-transform: uppercase;
    color: var(--accent);

    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto;
    text-align: center;

    border-bottom: 1px solid var(--accent);
}

.meal-name {
    font-weight: 700;
    letter-spacing: 0.3em;
}

.meal-timing {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.75;
    display: inline-block;
    font-weight: 300;
    font-size: 0.5em;
}

.menu__item {
    text-align: center;
    font-weight: 100;
    font-size: 0.8em;
    filter: saturate(0.9);
    line-height: 2;
}

.menu__item--everyday {
    opacity: 0.8;
}

.menu__item--loading {
    margin: 10px;
    color: transparent;
    background-color: var(--accent);

    animation: loading 500ms ease alternate infinite;
}

@keyframes loading {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 0.05;
    }
}

/* Footer */

.footer {
    display: none;
}

@media (max-width: 720px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #e2e2e2;
        font-size: 0.75em;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    a {
        color: hsl(180deg, 100%, 50%);
    }
}